/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
} */
nav{

    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 100px;
    margin: auto;
    padding: 0px 10px;
    font-size: 20px;
    border-bottom: 1px solid #d7d7d7;
    

}
nav a{
    text-decoration: none;
    color:#6D5440 ;
    font-family: sans-serif;
    font-size: 15px;
    
}
nav a:hover{
    text-shadow: #d7d7d7 0px 1px 4px;
}

nav img{
    /* text-align: center; */
    width: 200px;
    
    
}

/* .topic{
    font-family: sans-serif;
    font-size: 50px;
    color:#433432 ;
    text-align: center;
} */
