.container-report{
    width: 100vw;
}
.header{
    background: #000;
    width: 100%;
    height: 10vh;
}
.container-rider{
    padding: 20px;
    text-align: center;
}
img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    max-width: 80px;
}
.container-total{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: #d4d4d4 2px solid;
}
.container-route{
    padding: 10px  15px 10px 10px;
    
}
.container-linkbutton{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}