.paper{
    border: none;
}
.box{
    border-radius: 0px 0px 60px 60px;
    background: "#1E5BEB";
    background: linear-gradient(36deg,
     rgba(30,91,235,1) 0%,
     rgba(38,117,244,1) 35%,
      rgba(44,136,247,1) 100%);
    border: none;
}
.typography{
    color: #fff;
}
.link{
    padding-top: 10px;
}
.link:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}