.App{
  min-height: 100vh;
}

.container{
  background: rgb(255, 255, 255);
  padding: 1.2rem;
  margin:3rem auto;
  max-width: 35rem;
  border: 1px solid rgba(107, 21, 21, 0.2);
  border-radius: 0.5rem;
}

.light{
  background: white;
  color: black;
  transition: all 0.4s;
}

.dark{
  background: #15202b;
  color: white;
  transition: all 0.4s;
}