.blog-container {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}
.card{
    color: #333;
}
.search-container{
  margin: 15px;
  display: flex;
  justify-content: center;

}
.search-input{
  padding: 0.4em 0.4em;
  width: 80%;
  font-size: 18px;
}
.search-input:focus{
  outline: none;
}