p {
    width: 80%;
    margin: 30px auto;
    font-size: 1rem;
}


.title {
    box-shadow: 0 3px 10px rgb(0,0,0,0.7);
    padding: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img {
    border-radius: 10px;
    border: 5px solid black;
}

.author {
    margin-top: 2rem;
    width: 80%;
}
