
.container{
  padding: 1.2rem;
  margin: 3rem auto;
  max-width: 35rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #fff;
}
li{
  list-style-type: none;
}
.day{
  background-color: #fff;
  color: #000;
  transition: 0.2s;
  min-height: 100vh;
}
.night{
  background-color: rgb(1, 1, 31);
  transition:0.2s;
  min-height: 100vh;
}
