@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Slab:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit','Roboto Slab', sans-serif,serif;
}

button {
  background-color: red;
  color: white;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  padding: 5px 10px;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
}

body {
  background-color: black;
  color: white;
}

main {
  min-height: 90vh;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}