@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap');
body{
    background-color: #F1F6F9;
    font-family: 'Kanit', sans-serif;
}
.head{
    color: #fec107;
}
.container{
    max-width: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin:20px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
input{
    width: 300px;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 5px ;
    padding: 20px 10px;
    outline: none;
    border: 1px solid #d5dbd9;
    transition: all 0.2s ease;
}
input:focus{
    border: 1px solid #fec107;
}
select{
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-size: 30px;
    margin: 10px;
}
button{
    font-size: 20px;
    margin: 10px;
    background-color: white;
    outline: none;
    border: 2px solid #fec107;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #fec107;
    color: white;
    transition: 0.3s;
}
.sum{
    display: flex;
    align-items: center;
}